<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Crear {{ctrlConfig.modelName}}</h2>
		</div>
	</div>
	<br>
	<form name="form" submit-once="create();" role="form">
		<div class="row">
			<div class="col-md-12">
				<h4><i class="fa fa-fw fa-file-text-o"></i> Detalles del {{ctrlConfig.modelName}}</h4>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-4">
				<div class="form-group col-xs-12 text-center nopadding">
					<img ng-src="{{object.url_foto_perfil}}" style="width: 100%;" />
					<label class="profile-preview" for="fake-input-file">
						<span>Cambiar imagen de perfil</span>
						<input id="fake-input-file" onchange="angular.element(this).scope().upload(this.files)" type="file" name="logo" value="Subir" />
					</label>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-8">
				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						<label for="nombre">Nombre:</label>
						<input id="nombre" class="form-control" type="text" name="nombre" data-ng-model="object.nombre" required />
					</div>
					<div class="form-group col-xs-12 col-sm-6">
						<label for="apellido">Apellido:</label>
						<input id="apellido" class="form-control" type="text" name="apellido" data-ng-model="object.apellido" required />
					</div>
<!--					<div class="form-group col-xs-12 col-sm-6">
						<label for="dni">DNI:</label>
						<input id="dni" class="form-control" type="number" name="dni" data-ng-model="object.dni" required />
					</div>-->
					<div class="form-group col-xs-12 col-sm-6">
						<label for="telefono">Teléfono:</label>
						<input id="telefono" class="form-control" type="text" name="telefono" data-ng-model="object.telefono" maxlength="20" />
					</div>
					<div class="form-group col-xs-12">
						<label for="descripcion">Descripción:</label>
						<textarea id="descripcion" class="form-control" name="descripcion" data-ng-model="object.descripcion"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pull-right text-right">
				<a onclick="history.back()" class="btn btn-warning" type="button"><i class="fa fa-fw fa-backward"></i> Atrás</a>
				<button data-ng-disabled="form.$invalid" class="btn btn-success" type="submit"><i class="fa fa-fw fa-save"></i> Guardar</button>
			</div>
		</div>
	</form>
</div>
