<form id="cambiar-password-modal" name="form" novalidate class="login-form">
	<div class="modal-body">
        <i class="pull-right cr-pointer fa fa-lg fa-times" data-ng-click="modalInstance.dismiss()"></i>
		<h4 class="text-center">CAMBIAR CONTRASEÑA</h4>
        <div class="form-group">
            <input type="password" class="form-control" name="newPassword" data-ng-model="newPassword" placeholder="Nueva Contraseña" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="newPasswordRepeat" data-ng-model="newPasswordRepeat" placeholder="Repetir Nueva Contraseña" required>
        </div>
        <div class="form-group">
			<button class="btn btn-short btn-filled" data-ng-click="changePassword()">CONFIRMAR</button>
		</div>
		<div class="alert" data-ng-class="authError.class" data-ng-show="authError.message">{{authError.message}}</div>
	</div>
</form>
