<form id="email-cambiar-password-modal" name="form" novalidate class="login-form">
	<div class="modal-body">
        <i class="pull-right cr-pointer fa fa-lg fa-times" data-ng-click="modalInstance.dismiss()"></i>
		<h4 class="text-center">RESETEAR CONTRASEÑA</h4>
        <hr>
        <h5 class="text-center bold">¿Desea usted cambiar su contraseña?</h5>
        <hr>
        <h5 class="text-center">De ser así, se enviará un mail a su cuenta con los pasos para poder resetearla correctamente.</h5>
        <br>
        <div class="form-group" data-ng-show="forgotPassword">
            <input type="email" class="form-control" name="email" data-ng-model="email" placeholder="Email" required>
        </div>
        <div class="form-group text-center">
			<button class="btn btn-short btn-filled" data-ng-click="sendResetMail()">ENVIAR MAIL</button>
		</div>
		<div class="alert" data-ng-class="authError.class" data-ng-show="authError.message">{{authError.message}}</div>
	</div>
</form>
