<div class="modal-header">
	<h4>Seleccionar grupo</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th style="width: 90px;">#</th>
						<th>Nombre</th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="grupo in modal.grupos">
						<td class="text-center">{{grupo.id}}</td>
						<td>{{grupo.name}}</td>
						<td data-title="''" class="text-center" style="width: 64px;">
							<a class="btn btn-success btn-xs" data-ng-click="modal.select(grupo)" data-tooltip="Seleccionar"><i class="fa fa-fw fa-check"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="modalInstance.dismiss()"><i class="fa fa-fw fa-backward"></i> Atrás</button>
</div>