<div class="container">
		<div class="row">
				<div id="calendar-title" class="col-sm-4 col-md-4 col-lg-4">
						<h2>Reportes</h2>
				</div>
				<div class="form-inline col-xs-12 col-sm-8 col-md-8 col-lg-8 text-right">
						<div class="form-group">
							<span class="input-group">
								<input datepicker-popup  id="fechaInicio" type="text" class="form-control text-center" data-ng-click="datepickerStart.open($event)" data-ng-model="datepickerStart.value" is-open="datepickerStart.opened" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="datepickerStart.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</span>
						</div>
						<div class="form-group">
							<span class="input-group">
								<input datepicker-popup  id="fechaFin" type="text" class="form-control text-center" data-ng-click="datepickerEnd.open($event)" data-ng-model="datepickerEnd.value" is-open="datepickerEnd.opened" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="datepickerEnd.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</span>
						</div>
				</div>
		</div>
    <br>
        <ul class="list-group col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
            <li class="list-group-item" style="color: #E60018;border-color: #F8F8F8;border-width: initial">
                <div class="pull-right">
                    <h3>{{reporte.reservas}}</h3>
                </div>
                <div class="media-large">
                    <div class="h3"><strong>Reservas</strong></div>
                </div>

            </li>
            <li class="list-group-item" style="color: #E60018;border-color: #F8F8F8;border-width: initial">
                <div class="pull-right">
                    <h3>{{reporte.reservasCanceladas}}</h3>
                </div>
                <div class="media-large">
                    <div class="h3"><strong>Reservas canceladas</strong></div>
                </div>

            </li>
            <li class="list-group-item" style="color: #E60018;border-color: #F8F8F8;border-width: initial">
                <div class="pull-right">
                    <h3>{{reporte.clientesNuevos}}</h3>
                </div>
                <div class="media-large">
                    <div class="h3"><strong>Clientes nuevos</strong></div>
                </div>

            </li>
            <li class="list-group-item" style="color: #E60018;border-color: #F8F8F8;border-width: initial">
                <div class="pull-right">
                    <h3>{{reporte.clientesRegreso}}</h3>
                </div>
                <div class="media-large">
                    <div class="h3"><strong>Clientes que regresaron</strong></div>
                </div>
            </li>
            <li class="list-group-item" style="color: #E60018;border-color: #F8F8F8;border-width: initial">
                <div class="pull-right">
                    <h3>{{reporte.tratamiento.nombre}}</h3>
                </div>
                <div class="media-large">
                    <div class="h3"><strong>Servicio más elegido</strong></div>
                </div>
            </li>
            <li class="list-group-item" style="color: #E60018;border-color: #F8F8F8;border-width: initial">
                <div class="pull-right">
                    <h3>{{reporte.profesional.nombre}}</h3>
                </div>
                <div class="media-large">
                    <div class="h3"><strong>Profesional más elegido</strong></div>
                </div>
            </li>
        </ul>
</div>